.group-button-menu-edit {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  webkit-box-shadow: 0px -5px 26px -1px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px -5px 26px -1px rgba(0,0,0,0.42);
  box-shadow: 0px -5px 26px -1px rgba(0,0,0,0.42);
  padding: 10px 0;
  z-index: 99999;
}