.grid-item-for-user {
  width: 300px;
  background: #fff;
  border-bottom: 5px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s;
  margin: 6px;
  float: left;
  color: #000;
  .grid-description {
    img {
      display: none;
    }
    * {
      color: #000;
      background: transparent;
    }
  }
  &:hover {
    color: #000;
    -webkit-box-shadow: 0px 9px 63px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 63px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 63px -5px rgba(0,0,0,0.75);
    transform: translateY(-10px);
  }
}