<div class="container mt-4">
    <h2 class="text-center">
        Brand
        <a href="/logout" class="btn btn-outline-secondary pull-right">Đăng xuất</a>
    </h2>
    <div class="card">
        <h5 class="card-header">Menu</h5>
        <div class="card-body">
            <a class="btn btn-primary dim" href="/admin/manager/user">Quản lý người thương hiệu</a>
        </div>
    </div>
</div>

