
<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">B+</h1>
    </div>
    <h4>Trang quản trị Thương Hiệu</h4>
    <p>Đăng nhập để thực hiện</p>
    <form role="form" action="/admin/login/local" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" name="username" required="">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name="password" required="">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
  </div>
</div>
